{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Show Employee</title>
    {% endblock %}



    {% block content %}
    
      
      <table class="table text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">EID</th>
            <th scope="col">NAME</th>
            <th scope="col">SALARY</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">CITY</th>
            <th scope="col">UPDATE</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          {% for i in object_list %}
          <tr>
            <td>{{i.eid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.mail}}</td>
            <td>{{i.city}}</td>
            <td><button class="btn btn-warning btn-sm"><a href="{% url 'update_url' i.id %}">UPDATE</a></button></td>
            <td><button class="btn btn-danger btn-sm"><a href="{% url 'delete_url' i.id %}">DELETE</a></button></td>
           
            
          </tr>
       {% endfor %}
        </tbody>
      </table>
    {% endblock %}